#!/usr/bin/env python

PACKAGE='adaptive_social_layers'

import sys
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enabled",    bool_t,   0, "Whether to apply this plugin or not ",             True)
gen.add("keep_time",  double_t, 0, "Pause before clearing leg list",                   0.75, 0.0,   2.0)
gen.add("clcdis",double_t, 0, "Cleaning person distance",                   0.5, 0.0,   2.0)
exit(gen.generate(PACKAGE, "adaptive_social_layers", "CleanPeopleLayer"))
