<?xml version="1.0"?>
<!-- ROS head file to simulate vizzy in gazebo   -->
<launch>
  <param name="use_sim_time" value="true"/>
  <!--
  <node name="costmap_node" pkg="costmap_2d" type="costmap_2d_node" output="screen" clear_params="true">
    <rosparam file="$(find adaptive_social_layers)/params/minimal.yaml" command="load" ns="costmap" />
  </node> -->
  <node pkg="adaptive_social_layers" type="people_publisher.py" name="people_publisher"/>
</launch>
